<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration Page</title>
</head>
<body>
	<h1>Please Enter the Details for Registration</h1>

<form action = "submit", method = "post">
	
	<label>Name:</label>
	<input type="text" name="Name" placeholder="Please Enter the Name" required = ""><br>
	<br>

	<label>Email:</label>
	<input type="Email" name="Email" placeholder="Please Enter the Email" required = ""><br>
	<br>

	<label>Mobile No:</label>
	<input type="number" name="MobileNo" placeholder="Please Enter the Mobile no" required = ""><br>
	<br>

	<label>Password:</label>
	<input type="Password" name="Password" placeholder="Please Enter the Password" required = ""><br>
	<br>

	<button>Submit</button>
	
</form>

{{pred}}

</body>
</html>